header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/brick-wall--dark--520x260.png");
  padding-top: 3px;
}
h2 {
  color: #070c2c;
}
