nav {
  color: #b1b1b1;
  background-color: #0a0708;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
#logo {
  font-size: 150%;
  font-family: 'Bungee', cursive;
  padding: 1.5em;

}
#write {
  padding: 1.5em;
  font-size: 100%;
}
.textHeaders{
  color: #5c5b5b
}